In [1]:
import pandas as pd
import sqlite3 as sql

BETEWEEN IN va LIKE buyruqlari

In [9]:
db = sql.connect('fayllar/electricity.db')
cursor = db.cursor()

In [4]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
cursor.fetchall()

[('elect',)]

In [5]:
query = "PRAGMA table_info(elect);"
cursor.execute(query)
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [13]:
# oraliqdagi qiymatlarni olishimiz munkun BETWEEN orqali
query = "SELECT country, year, coal, gas, hydro,oil FROM elect WHERE country = 'Uzbekistan' AND year BETWEEN 2000 AND 2019;"
pd.read_sql(query, db)

       country  year       coal        gas     hydro       oil
0   Uzbekistan  2000  11.602405  25.523451  5.817000  1.380143
1   Uzbekistan  2001  11.766320  25.884038  5.899000  1.399642
2   Uzbekistan  2002  12.214374  26.869686  6.124000  1.452939
3   Uzbekistan  2003  11.833513  26.031852  7.544000  1.407634
4   Uzbekistan  2004  11.595776  25.508869  8.920000  1.379355
5   Uzbekistan  2005  11.490919  25.278199  8.838000  1.366882
6   Uzbekistan  2006  11.827788  26.019258  4.653000  1.406953
7   Uzbekistan  2007  12.051665  26.511751  4.610000  1.433584
8   Uzbekistan  2008  10.774273  23.701692  4.443000  1.281634
9   Uzbekistan  2009   9.084625  28.017530  6.418000  1.080645
10  Uzbekistan  2010   9.792027  30.199200  8.110000  1.164793
11  Uzbekistan  2011  10.534094  32.487781  5.646000  1.253064
12  Uzbekistan  2012  10.365016  31.966333  6.586000  1.232952
13  Uzbekistan  2013  10.939346  33.737603  5.647000  1.301270
14  Uzbekistan  2014  11.112674  34.272157  6.014000  1.321888
15  Uzbekistan  2015  10.519789  35.780629  6.998000  1.251363
16  Uzbekistan  2016  10.783891  36.678911  7.254000  1.282778
17  Uzbekistan  2017  10.998707  37.409561  8.343000  1.308332
18  Uzbekistan  2018  11.853192  40.315893  5.838030  1.409975
19  Uzbekistan  2019  12.297660  41.827647  5.451373  1.462846

In [14]:
# bizga kerakli bolgan aniq bir nechta malumot qiymatlari bilan olishimiz munkun IN kalit sozi orqali
query = "SELECT country, year, coal, gas, oil, hydro FROM elect WHERE country = 'Uzbekistan' AND year IN (1990,2004,2014,2011);"
pd.read_sql(query, db)

      country  year       coal        gas       oil  hydro
0  Uzbekistan  2004  11.595776  25.508869  1.379355  8.920
1  Uzbekistan  2011  10.534094  32.487781  1.253064  5.646
2  Uzbekistan  2014  11.112674  34.272157  1.321888  6.014
3  Uzbekistan  1990        NaN        NaN       NaN  6.648

LIKE kali so`zi orqali qidiruv

In [15]:
query = "SELECT * FROM elect WHERE country LIKE '%stan' AND year IN (2019,2020,2021,2010);"
pd.read_sql(query, db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,10,Afghanistan,AFG,2010,0.000000,0.185000,0.751000,0.000000,0.000200,0.000000,0.000100,0.000000
1,19,Afghanistan,AFG,2019,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
2,2838,Kazakhstan,KAZ,2010,62.657580,6.906180,7.942000,0.000000,0.000000,0.582800,0.001000,0.000000
3,2847,Kazakhstan,KAZ,2019,71.206910,18.960820,9.842580,0.001000,0.236000,0.755650,0.549000,0.000000
4,2848,Kazakhstan,KAZ,2020,72.193448,19.223513,9.403480,0.002900,1.077300,0.755650,0.941200,0.000000
5,2954,Kyrgyzstan,KGZ,2010,0.868082,0.000000,10.997000,0.000000,0.000000,0.064398,0.000000,0.000000
6,2963,Kyrgyzstan,KGZ,2019,1.056225,0.000000,13.705560,0.000000,0.000000,0.078355,0.000000,0.000000
7,4294,Pakistan,PAK,2010,1.297134,17.701558,31.493000,1.253000,0.013000,36.605128,0.010000,2.560000
8,4303,Pakistan,PAK,2019,24.827532,24.776677,43.146492,2.659467,1.031600,35.551972,3.608753,9.783445
9,4304,Pakistan,PAK,2020,29.319484,17.517486,47.296196,2.675689,1.030267,34.513517,3.190669,9.909005
10,5486,Tajikistan,TJK,2010,0.000000,0.000000,16.236000,0.000000,0.000000,0.032900,0.000000,0.000000
11,5495,Tajikistan,TJK,2019,0.000000,0.000000,18.977310,0.000000,0.000000,1.416580,0.000000,0.000000
12,5496,Tajikistan,TJK,2020,0.000000,0.000000,18.489310,0.000000,0.000000,1.416580,0.000000,0.000000
13,5695,Turkmenistan,TKM,2010,0.000000,5.345574,0.003000,0.000000,0.000000,10.314826,0.000000,0.000000
14,5704,Turkmenistan,TKM,2019,0.000000,7.230340,0.000300,0.000000,0.000000,13.951674,0.000000,0.000000
15,5974,Uzbekistan,UZB,2010,9.792027,30.199200,8.110000,0.000000,0.000000,1.164793,0.000000,0.000000
16,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.000000,0.006827,1.462846,0.000000,0.000000

In [16]:
query = "SELECT * FROM elect WHERE code LIKE 'U__' AND year IN (2019,2014);"
pd.read_sql(query,db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5774,Uganda,UGA,2014,0.000000,0.000000,2.369070,0.644000,0.029000,0.288580,0.000000,0.000000
1,5779,Uganda,UGA,2019,0.000000,0.000000,3.999270,0.507333,0.073000,0.289207,0.000000,0.000000
2,5809,Ukraine,UKR,2014,65.599232,11.832040,8.393000,0.130000,0.430000,0.982588,1.130000,83.123000
3,5814,Ukraine,UKR,2019,43.966834,8.368891,7.687350,0.285000,0.998000,1.938935,1.462000,78.144000
4,5916,United States,USA,2014,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
5,5921,United States,USA,2019,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
6,5957,Uruguay,URY,2014,0.000000,0.263020,9.553000,1.923000,0.004000,0.381820,0.733000,0.000000
7,5962,Uruguay,URY,2019,0.000000,0.110806,8.026920,2.515000,0.423000,0.160854,4.753000,0.000000
8,5978,Uzbekistan,UZB,2014,11.112674,34.272157,6.014000,0.000000,0.002046,1.321888,0.000000,0.000000
9,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.000000,0.006827,1.462846,0.000000,0.000000

In [17]:
db.close()