In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv', index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [8]:
df.company.value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [13]:
df.groupby('company').max() # guruhlab eng qimatini chiqarib beradi

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,
alfa-romero,hatchback,94.5,171.2,ohcv,six,154,21,16500.0
audi,wagon,105.8,192.7,ohc,four,115,24,18920.0
bmw,sedan,110.0,197.0,ohc,six,182,23,41315.0
chevrolet,sedan,94.5,158.8,ohc,three,70,47,6575.0
dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
honda,wagon,96.5,175.4,ohc,four,101,30,12945.0
isuzu,sedan,94.5,170.7,ohc,four,78,38,6785.0
jaguar,sedan,113.0,199.6,ohcv,twelve,262,15,36000.0
mazda,sedan,104.9,175.0,rotor,two,101,31,18344.0
mercedes-benz,wagon,120.9,208.1,ohcv,five,184,22,45400.0
mitsubishi,sedan,96.3,172.4,ohc,four,88,37,8189.0
nissan,wagon,100.4,184.6,ohcv,six,152,45,13499.0
porsche,hatchback,98.4,175.7,ohcf,six,288,17,37028.0
toyota,wagon,104.5,187.8,ohc,six,156,35,15750.0
volkswagen,sedan,97.3,171.7,ohc,four,100,37,9995.0
volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [14]:
df.groupby('company').price.max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [17]:
df.groupby('company').agg([min, max]) # ihtiyoriy n-ta shart boyicha gruhlash

                body-style            wheel-base        length
                       min        max        min    max    min    max
company
alfa-romero    convertible  hatchback       88.6   94.5  168.8  171.2  \
audi                 sedan      wagon       99.4  105.8  176.6  192.7
bmw                  sedan      sedan      101.2  110.0  176.8  197.0
chevrolet        hatchback      sedan       88.4   94.5  141.1  158.8
dodge            hatchback  hatchback       93.7   93.7  157.3  157.3
honda                sedan      wagon       96.5   96.5  157.1  175.4
isuzu                sedan      sedan       94.3   94.5  155.9  170.7
jaguar               sedan      sedan      102.0  113.0  191.7  199.6
mazda            hatchback      sedan       93.1  104.9  159.1  175.0
mercedes-benz      hardtop      wagon      110.0  120.9  190.9  208.1
mitsubishi       hatchback      sedan       93.7   96.3  157.3  172.4
nissan               sedan      wagon       94.5  100.4  165.3  184.6
porsche        convertible  hatchback       89.5   98.4  168.9  175.7
toyota           hatchback      wagon       95.7  104.5  158.7  187.8
volkswagen           sedan      sedan       97.3   97.3  171.7  171.7
volvo                sedan      wagon      104.3  104.3  188.8  188.8

              engine-type        num-of-cylinders         horsepower
                      min    max              min     max        min  max
company
alfa-romero          dohc   ohcv             four     six        111  154  \
audi                  ohc    ohc             five    four        102  115
bmw                   ohc    ohc             four     six        101  182
chevrolet               l    ohc             four   three         48   70
dodge                 ohc    ohc             four    four         68   68
honda                 ohc    ohc             four    four         76  101
isuzu                 ohc    ohc             four    four         70   78
jaguar               dohc   ohcv              six  twelve        176  262
mazda                 ohc  rotor             four     two         68  101
mercedes-benz         ohc   ohcv            eight    five        123  184
mitsubishi            ohc    ohc             four    four         68   88
nissan                ohc   ohcv             four     six         55  152
porsche             dohcv   ohcf            eight     six        207  288
toyota               dohc    ohc             four     six         62  156
volkswagen            ohc    ohc             four    four         52  100
volvo                 ohc    ohc             four    four        114  114

              average-mileage        price
                          min max      min      max
company
alfa-romero                19  21  13495.0  16500.0
audi                       18  24  13950.0  18920.0
bmw                        15  23  16430.0  41315.0
chevrolet                  38  47   5151.0   6575.0
dodge                      31  31   6229.0   6377.0
honda                      24  30   7295.0  12945.0
isuzu                      24  38   6785.0   6785.0
jaguar                     13  15  32250.0  36000.0
mazda                      17  31   5195.0  18344.0
mercedes-benz              14  22  25552.0  45400.0
mitsubishi                 25  37   5389.0   8189.0
nissan                     19  45   6649.0  13499.0
porsche                    17  17  34028.0  37028.0
toyota                     19  35   5348.0  15750.0
volkswagen                 26  37   7775.0   9995.0
volvo                      23  23  12940.0  13415.0