In [10]:
import pandas as pd
import numpy as np

In [11]:
#  kaggle link
# ! git clone https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset
#  github link
! git clone https://github.com/MansurCompAI/Practicum_Datasets

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [12]:
movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')
movies.head()
# movies.info()

<ipython-input-12-164c673434d4>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [13]:
retings = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_ratings.csv')
retings.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [14]:
retings.describe()

       weighted_average_vote   total_votes
count           85855.000000  8.585500e+04
mean                5.898656  9.493490e+03
std                 1.234987  5.357436e+04
min                 1.000000  9.900000e+01
25%                 5.200000  2.050000e+02
50%                 6.100000  4.840000e+02
75%                 6.800000  1.766500e+03
max                 9.900000  2.278845e+06

marging

In [21]:
pd.merge # funksiya imkoniyatlarini ko`rishimiz munkun

<function pandas.core.reshape.merge.merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'>

In [22]:
movies_retings = pd.merge(movies, retings) # ikkita dataframni birlashtiradi va umiyiy jihatlarini bitta ustunnga joylaydi

In [24]:
movies_retings.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget,weighted_average_vote,total_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,6.1,589
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,5.8,188
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,5.2,446
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,7.0,2237

In [25]:
movies_retings.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [27]:
extracts = movies_retings[['title', 'year', 'date_published', 'weighted_average_vote']]
extracts

,title,year,date_published,weighted_average_vote
0,Miss Jerry,1894,1894-10-09,5.9
1,The Story of the Kelly Gang,1906,1906-12-26,6.1
2,Den sorte drøm,1911,1911-08-19,5.8
3,Cleopatra,1912,1912-11-13,5.2
4,L'Inferno,1911,1911-03-06,7.0
...,...,...,...,...
85850,Le lion,2020,2020-01-29,5.3
85851,De Beentjes van Sint-Hildegard,2020,2020-02-13,7.7
85852,Padmavyuhathile Abhimanyu,2019,2019-03-08,7.9
85853,Sokagin Çocuklari,2019,2019-03-15,6.4
85854,La vida sense la Sara Amat,2019,2020-02-05,6.7