In [15]:
import pandas as pd
import numpy as np

In [ ]:
! git clone https://github.com/MansurCompAI/Practicum_Datasets.git

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [ ]:
df = pd.read_csv('/content/Practicum_Datasets/world_cities_air_water_quality.csv')
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [ ]:
df.columns = df.columns.map(lambda x: x.replace('"', ''))
df.columns = df.columns.map(lambda x: x.strip())
df['Region'] = df['Region'].map(lambda x: x.replace('"', ''))
df['Country'] = df['Country'].map(lambda x: x.replace('"', ''))
df['Region'] = df['Region'].map(lambda x: x.strip())
df['Country'] = df['Country'].map(lambda x: x.strip())
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [17]:
df1 = pd.pivot_table(df, index = ['Country', 'City'])
df1

<ipython-input-17-8463ea4f34a6>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df1 = pd.pivot_table(df, index = ['Country', 'City'])

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [20]:
df1.loc[['Uzbekistan', 'Germany']]

                          AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent        56.451613       49.166667
Germany    Aachen          70.454545       17.857143
           Aalen           87.500000       50.000000
           Abensberg      100.000000       50.000000
           Amberg         100.000000       50.000000
...                              ...             ...
           Wilhelmshaven  100.000000       50.000000
           Wolfsburg       96.875000        0.000000
           Worms           60.000000      100.000000
           Wuppertal       90.000000        0.000000
           Zwickau         75.000000       50.000000

[125 rows x 2 columns]

ustunlarni irarxik korinishga keltrish

In [22]:
df2 = df1.copy()
df2

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [25]:
df2['AirPollution'] = 100-df2['AirQuality'] # yangi ustun yaratildi suvning ifloslanishi degan
df2

                      AirQuality  WaterPollution  AirPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000
            Farah     100.000000        0.000000      0.000000
            Herat      43.750000       31.250000     56.250000
            Kabul      18.421053       81.060606     81.578947
            Kandahar    0.000000       75.000000    100.000000
...                          ...             ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000
            Bulawayo   67.857143       71.428571     32.142857
            Harare     38.461538       87.500000     61.538462
            Masvingo   25.000000       62.500000     75.000000

[3895 rows x 3 columns]

In [27]:
df2['WaterQuality'] = 100-df2['WaterPollution']
df2

                      AirQuality  WaterPollution  AirPollution  WaterQuality
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000     50.000000
            Farah     100.000000        0.000000      0.000000    100.000000
            Herat      43.750000       31.250000     56.250000     68.750000
            Kabul      18.421053       81.060606     81.578947     18.939394
            Kandahar    0.000000       75.000000    100.000000     25.000000
...                          ...             ...           ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000     75.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000     25.000000
            Bulawayo   67.857143       71.428571     32.142857     28.571429
            Harare     38.461538       87.500000     61.538462     12.500000
            Masvingo   25.000000       62.500000     75.000000     37.500000

[3895 rows x 4 columns]

In [30]:
df3 = pd.DataFrame(df2.values, index=df2.index, columns=[['AIR', 'AIR', 'WATER','WATER'], ['AirQuality', 'AirPollution', 'WaterQuality', 'WaterPollution']])
df3

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [31]:
df3['AIR']

                      AirQuality  AirPollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [34]:
df3.columns.names = ['Object', 'Info'] # Irarxik indexlashning ustunlariga nom berishimiz munkun
df3

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [35]:
df3.index.names

FrozenList(['Country', 'City'])