In [2]:
import pandas as pd
import numpy as np

In [3]:
#  kaggle link
# ! git clone https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset
#  github link
! git clone https://github.com/MansurCompAI/Practicum_Datasets

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), 20.24 MiB | 6.70 MiB/s, done.

In [4]:
movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')
movies.head()
# movies.info()

<ipython-input-4-164c673434d4>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [5]:
retings = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_ratings.csv')
retings.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [9]:
movies_retings = pd.merge(movies, retings)
movies_retings.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget,weighted_average_vote,total_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,6.1,589
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,5.8,188
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,5.2,446
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,7.0,2237

In [10]:
movies_retings.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [11]:
ekstrakts = movies_retings[['title', 'year', 'date_published', 'weighted_average_vote']]
ekstrakts

,title,year,date_published,weighted_average_vote
0,Miss Jerry,1894,1894-10-09,5.9
1,The Story of the Kelly Gang,1906,1906-12-26,6.1
2,Den sorte drøm,1911,1911-08-19,5.8
3,Cleopatra,1912,1912-11-13,5.2
4,L'Inferno,1911,1911-03-06,7.0
...,...,...,...,...
85850,Le lion,2020,2020-01-29,5.3
85851,De Beentjes van Sint-Hildegard,2020,2020-02-13,7.7
85852,Padmavyuhathile Abhimanyu,2019,2019-03-08,7.9
85853,Sokagin Çocuklari,2019,2019-03-15,6.4
85854,La vida sense la Sara Amat,2019,2020-02-05,6.7

sodda misollar

In [16]:
A = pd.DataFrame({'Trasport':['poyezd', 'avtomobil', 'kema'], 
                  'Tezligi':['70','180','45']})
A

    Trasport Tezligi
0     poyezd      70
1  avtomobil     180
2       kema      45

In [17]:
B = pd.DataFrame({'Trasport':['poyezd', 'avtomobil', 'tranvay'], 
                  'Narxi':['98000','10000','65000']})
B

    Trasport  Narxi
0     poyezd  98000
1  avtomobil  10000
2    tranvay  65000

In [28]:
birlash= pd.merge(A, B) # bunda ikki dataframni birlashtiradi
birlash

    Trasport Tezligi  Narxi
0     poyezd      70  98000
1  avtomobil     180  10000

In [22]:
marget = pd.merge(A, B, how='inner') # inner join icki - bunda ikkita dataframda ham bor umumiy malumotlarni birlashtiriladi
marget

    Trasport Tezligi  Narxi
0     poyezd      70  98000
1  avtomobil     180  10000

In [23]:
merget_outer = pd.merge(A, B, how='outer') #outer join tashqi bunda ikkita dataframni hamma malumotlari birlashtiriladi
merget_outer

    Trasport Tezligi  Narxi
0     poyezd      70  98000
1  avtomobil     180  10000
2       kema      45    NaN
3    tranvay     NaN  65000

In [26]:
merget_left = pd.merge(A, B, how='left') # left join chap bunda chap datafremga birlashtiradi va chap dataframda yo`qlarini tashlab yuboradi
merget_left

    Trasport Tezligi  Narxi
0     poyezd      70  98000
1  avtomobil     180  10000
2       kema      45    NaN

In [29]:
merget_right = pd.merge(A, B, how='right') # right join o`ng bunda o`ng datafremga birlashtiradi va o`ng dataframda yo`qlarini tashlab yuboradi
merget_right

    Trasport Tezligi  Narxi
0     poyezd      70  98000
1  avtomobil     180  10000
2    tranvay     NaN  65000

In [30]:
A = pd.DataFrame({'Trasport_turi':['poyezd', 'avtomobil', 'kema'], 
                  'Tezligi':['70','180','45']})
A

  Trasport_turi Tezligi
0        poyezd      70
1     avtomobil     180
2          kema      45

In [31]:
B

    Trasport  Narxi
0     poyezd  98000
1  avtomobil  10000
2    tranvay  65000

In [36]:
merg = pd.merge(A, B, left_on='Trasport_turi', right_on='Trasport') # bunda datafremlarni ihtiyoriy ustunlari boyicha birlashtiradi
merg

  Trasport_turi Tezligi   Trasport  Narxi
0        poyezd      70     poyezd  98000
1     avtomobil     180  avtomobil  10000

indexlar ustda birlashtirish

In [37]:
A = A.set_index('Trasport_turi')
A

              Tezligi
Trasport_turi
poyezd             70
avtomobil         180
kema               45

In [38]:
B

    Trasport  Narxi
0     poyezd  98000
1  avtomobil  10000
2    tranvay  65000

In [40]:
merget1 = pd.merge(A, B, left_index=True, right_on='Trasport') # bunda chap dtaframe indexlari va o`ng dataframe ustuni bilan birlashtiriladi
merget1

  Tezligi   Trasport  Narxi
0      70     poyezd  98000
1     180  avtomobil  10000

In [43]:
B = B.set_index('Trasport')
B

           Narxi
Trasport
poyezd     98000
avtomobil  10000
tranvay    65000

In [44]:
merget2 = pd.merge(A,B, left_index=True, right_index=True) # indexlar boyicha birlashtrish
merget2

          Tezligi  Narxi
poyezd         70  98000
avtomobil     180  10000